.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.account_circle {
  text-align: center;
  display: block;
  width: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.user_name {
  font-weight: bold;
}

.sidebar {
  text-align: center;
}
